<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944297071608-lmsfnuhkjq6122tt94qv1dq8otmrcgo8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944297071608-lmsfnuhkjq6122tt94qv1dq8otmrcgo8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944297071608-nc9eva1p5rrkr8794ltqdsdn49uv4pup.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA089YiNYUfdudRMT3e2NbBvaABklTHUe0</string>
	<key>GCM_SENDER_ID</key>
	<string>944297071608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamhmq.Coverage</string>
	<key>PROJECT_ID</key>
	<string>masproject-69462</string>
	<key>STORAGE_BUCKET</key>
	<string>masproject-69462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944297071608:ios:c88f8d6aa6d07747</string>
	<key>DATABASE_URL</key>
	<string>https://masproject-69462.firebaseio.com</string>
</dict>
</plist>